WcfClient/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetFilePiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilePieceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFilePieceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHashCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBase64Code">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="data" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBase64CodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBase64CodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>